//-
//- User Index.
//-
//-	Author: justin.maj
//- Date: 2012-1-19
//-

include includes/header

.dw: section.dance-content#dance-content
	.content-header
		h1.header-title= title 
		p.welcome-msg 欢迎参加 #{title}，请您填写报名信息!

	#apply-container.apply-container
		#course-info.course-info
			p: em.BD 当前舞蹈培训信息：
			p &nbsp;
			p: em.BD 培训一：#{cCourse.courseA.cName}
			p 报名限额：
				em.R #{cCourse.cCapacity}人;
			p 已预报名：
				em.R#aWaiting
			p 报名成功：
				em.R#aApproved
			p: em.R #{cCourse.courseA.ps}
			p &nbsp;
			p: em.BD 培训二：#{cCourse.courseB.cName}
			p 报名限额：
				em.R #{cCourse.cCapacity}人;
			p 已预报名：
				em.R#bWaiting
			p 报名成功：
				em.R#bApproved
			p:em.R #{cCourse.courseB.ps}
			p &nbsp;
			p:em.B #{cCourse.notice}

		.table-container
			form(name="applyForm", id="applyForm", method="post", action="/apply")
				table.apply-table-a
					tbody
						tr.em
							th: label 工 号：
							td	
								input#dancerID.comm-input(type="text", name="dancerID", maxlength="9", data-valid="{required:true}")
							td.err-tip *
						tr.row-sep.em
							th: label 报名班级：
							td(colspan="2")
								#courseAWrapper.course-wrapper
									if( !cCourse.locked )
										input.comm-check(type="checkbox", value="#{cCourse.courseA.cValue}", name="courseA", id="courseA")
										label(for="courseA", id="courseAName")&nbsp;#{cCourse.courseA.cName}
										a(href="javascript:;", id="quitCourseA", class="course-btn quit-apply")申请退课
										a(href="javascript:;", id="cancelCourseA", class="course-btn cancel-apply")取消报名
										p.course-tip#tipA
									else
										span.over-tip 报名已结束或未开始

								#courseBWrapper.course-wrapper
									if( !cCourse.locked )
										input.comm-check(type="checkbox", value="#{cCourse.courseB.cValue}", name="courseB", id="courseB")
										label(for="courseB", id="courseBName")&nbsp;#{cCourse.courseB.cName}
										a(href="javascript:;", id="quitCourseB", class="course-btn quit-apply")申请退课
										a(href="javascript:;", id="cancelCourseB", class="course-btn cancel-apply")取消报名
										p.course-tip#tipB
									else
										span.over-tip 报名已结束或未开始
							
				//.hr-line

				table.apply-table-b
					tbody
						tr
							th: label 姓 名：
							td
								input#dancerName.comm-input(type="text", name="dancerName", maxlength="30", data-valid="{required:true}")
							td.err-tip *
						tr
							th: label 性 别：
							td
								.gender-wrapper
									input.comm-radio(type="radio", id="maleRadio", value="male", name="gender")
									label(for="maleRadio")&nbsp;男 &nbsp;&nbsp;&nbsp;
									
									input.comm-radio(type="radio", id="femaleRadio", checked, value="female", name="gender")
									label(for="femaleRadio")&nbsp;女
									span.gender-tip提交后不能修改
							td.err-tip *
						tr
							th: label 邮 箱：
							td
								input#email.comm-input(type="text", name="email", maxlength="30", data-valid="{required:true}")
								span @alibaba-inc.com
							td.err-tip *
						tr
							th: label 旺 旺：
							td
								input#wangWang.comm-input(type="text", name="wangWang", maxlength="30", data-valid="{required:true}")
							td.err-tip *
						tr
							th: label 分 机：
							td
								input#extNumber.comm-input(type="text", name="extNumber", maxlength="12", data-valid="{required:true}")
							td.err-tip *
						tr
							th: label 支付宝：
							td
								input#alipayID.comm-input(type="text", name="alipayID", maxlength="30", data-valid="{required:true}")
							td.err-tip *
						tr
							th: label 部 门：
							td
								.depart-select
							td.err-tip
					

			button(class="reset-btn comm-button", id="reset-btn") 重&nbsp;置
			button(class="apply-btn comm-button", id="apply-btn") 提&nbsp;交


			if (!!showDancerLink)
				.operation-info#operation-info
					p 您的操作已经成功 
						a(href="/user/" + dancerID,id="user-info-link")点此
						&nbsp;查看个人详情, 或者
						a(href="/",id="home-link")返回

include includes/footer	

script(src='/javascripts/user/dance-index-merge.js')

