
//-
//- User List.
//-
//-	Author: justin.maj
//- Date: 2012-1-12 
//-

include includes/header

section.dance-content.dw#list-content
	.content-header
		h1.header-title= title 

	#dancer-filter.dancer-filter
		form(name="searchForm", id="searchForm", class="search-form")
			table
				tr
					td.dancerID-cell
						label 工号：
						input#dancerID.comm-input(type="text", name="dancerID")
					td.department-cell	
						label.fd-left 部门：
						.department-box.filter-combo#department-box
							select.comm-select(name="department", id="department")
								option(value="") 请选择...
								option(value="tech") 技术部
								option(value="other") 其他部门 	
					td.gender-cell
						label 性别：
						input.comm-radio(type="radio", id="maleRadio", value="male", name="gender")
						label(for="maleRadio")&nbsp;男 &nbsp; 
						
						input.comm-radio(type="radio", id="femaleRadio", value="female", name="gender")
						label(for="femaleRadio")&nbsp;女
					td.course-cell	
						label.fd-left 课程：
						.course-box.filter-combo#course-box
							select.comm-select(name="course", id="course")
								option(value="") 请选择...
								each course in courseList
									option(value="#{course.courseVal}") #{course.courseName}

					td.status-cell	
						label.fd-left 课程状态：
						.status-box.filter-combo#status-box
							select.comm-select(name="status", id="status")
								option(value="") 请选择...
								option(value="waiting") 等待审核
								option(value="approved") 报名成功
								option(value="refused") 报名失败
								option(value="quitApplied") 申请退课
								option(value="quit") 已退课

					td.pay-cell
						label 缴费：
						input.comm-radio(type="radio", id="paidRadio", value="true", name="paid")
						label(for="paidRadio")&nbsp;是 &nbsp; 
						
						input.comm-radio(type="radio", id="unpayRadio", value="false", name="paid")
						label(for="unpayRadio")&nbsp;否
		
		// 如果查询按钮嵌套在form表单里面会默认执行表单提交操作，所以应当将其移到表单外。						
		button(class="queryBtn comm-button", id="queryBtn") 查询

	#dancer-list.dancer-list
		table
			thead
				tr
					th.dancerID-header 工号
						i.i-sort-default
					th.dancerName-header 姓名
						i.i-sort-default
					th.gender-header 性别
						i.i-sort-default
					th.course-header 班级
					th.status-header 课程状态
					th.pay-header 缴费
					th.email-header 邮箱
						i.i-sort-default
					th.wangWang-header 旺旺
						i.i-sort-default
					th.ext-header 分机
						i.i-sort-default
					th.dept-header 部门
						i.i-sort-default
			tbody
				each dancer in dancerList
					tr
						td 
							a(href="/user/#{dancer.dancerID}")#{dancer.dancerID}
						td 
							#{dancer.dancerName}
						td 
							- if (dancer.gender === 'female') 
								p F
							- else 
								p M
						td 
							each course in dancer.courses
								#{course.courseVal};
						td 
							each course1 in dancer.courses
								- if (course1.status === 'waiting')
									待审核;
								- else if (course1.status === 'approved')
									报名成功;
								- else if (course1.status === 'refused')
									报名失败;
								- else if (course1.status === 'quitApplied')
									申请退课;
								- else if (course1.status === 'quit')
									已退课;
								- else if (course1.status === 'cancelled')
									取消报名;
								- else
									未知;
									
						td 
							each course2 in dancer.courses
								- if (course2.paid)
									em Y;
								- else
									em N;
						td 
							#{dancer.email}
						td 
							#{dancer.wangWang}
						td 
							#{dancer.extNumber}
						td 
							- if (dancer.department === 'tech')
								技术部
							- else
								其他部门

	ul.paging-a.fd-clr#dancer-list-paging(data-sp="paging-a")
		li.pagination
		li 	共
			em.pagenum 
			页 到 
			input.pnum(type="text", maxlength="4", autocomplete="off")
			页
		li: a.btn-b(href="javascript:;")
				span.btn-l
					em 确定
				span.btn-r

include includes/footer	

script(src='/javascripts/lib/fdev-min.js')
script(src='/javascripts/user/dancer-list.js')
script(src='/javascripts/lib/widget/paging.js')
script(src='/javascripts/lib/module/json-sorter.js')
				